*.swp
.DS_Store
.github/
.nyc_output/
.vscode/
benchmark-results/*
browserify-tests/*
build/example*
build/test/
classes.png
coverage/
depchart/*
dts-bundle.config.json
src/
tsconfig.json
yarn-error.log